<%= content_for :head do %>
  <meta name="turbo-refresh-method" content="morph">
<% end %>

<% if flash[:notice] %>
  <p><%= flash[:notice] %></p>
<% end %>

<%= form_with model: @user do |f| %>
  <%= f.combobox :home_state_id, State.all %>
  <%= f.combobox :visited_state_ids, State.all, multiselect_chip_src: new_state_chip_path %>
  <%= f.submit %>
<% end %>
