<%= tag.style nonce: content_security_policy_nonce do %>
  form {
    display: flex;
    flex-direction: column;
    gap: 1rem;
  }

  input[type="submit"] {
    padding: 0.5rem;
  }
<% end %>

<% if flash[:notice] %>
  <p><%= flash[:notice] %></p>
<% end %>

<%= form_with model: @user, url: user_visits_url(@user), method: :post do |form| %>
  <%= combobox_tag "user[visited_states]",
        State.all,
        id: "states-field",
        label: "Visited states (new allowed)",
        multiselect_chip_src: possibly_new_state_chips_path,
        free_text: true %>
  <%= form.submit %>
<% end %>
