<style>
  [aria-selected=true] { color: blue; }
</style>

<% if flash[:notice] %>
  <p><%= flash[:notice] %></p>
<% end %>

<%= form_with model: User.new, url: new_options_form_path, method: :post do |form| %>
  <%= form.label "Favorite State", for: "allow-new" %>
  <%= form.combobox :favorite_state_id, State.all, id: "allow-new", name_when_new: "user[favorite_state_attributes][name]" %>

  <%= form.label "Home State", for: "disallow-new" %>
  <%= form.combobox :home_state_id, State.all, id: "disallow-new" %>

  <%= form.submit %>
<% end %>

<%= combobox_tag :movie, movies_path, name_when_new: :new_movie, id: "movie-field", style: "width: 13rem;" %>
