<h1>My fav state is:</h1>
(Error replicated with turbo_stream_rendering#edit)
<div id=<%= dom_id(@state) %>>
  <p><%= @state.name %></p>
  <p><%= @state.abbreviation %></p>
  <%= button_to "Edit", edit_turbo_stream_rendering_path(@state, format: :turbo_stream ), method: :get%>
</div>
<h1>My fav state is:</h1>
(turbo_stream_rendering#edit2)
<div id=<%= dom_id(@state, "2") %>>
  <p><%= @state.name %></p>
  <p><%= @state.abbreviation %></p>
  <%= button_to "Edit", edit2_turbo_stream_rendering_path(@state, format: :turbo_stream ), method: :get%>
</div>