<!DOCTYPE html>
<html>
  <head>
    <title>Dummy</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    <%# stylesheet_link_tag "preflight", "data-turbo-track": "reload" %>

    <%= combobox_style_tag %>
    <%= javascript_importmap_tags %>

    <%= yield :head %>

    <%= tag.style nonce: content_security_policy_nonce do %>
      @import url('https://fonts.googleapis.com/css2?family=Inter:wght@400;700&display=swap');

      body { font-family: 'Inter', sans-serif; }

      #clickable {
        width: 10px;
        height: 10px;
        background-color: red;
        margin-bottom: 10px;
      }

      .container {
        display: flex;
        align-items: flex-start;
      }
      .container aside {
        background-color: #efefef;
        margin-right: 2rem;
      }
      .container aside.empty {
        display: none;
      }
      .html-option {
        display: flex;
        flex-direction: row;
        align-items: center;
      }

      @media (max-width: 600px) {
        .container aside {
          display: none;
        }
      }
    <% end %>
  </head>

  <body>
    <section class="container">
      <aside class="<%= 'empty' unless aside_nav? %>">
        <%= render "#{controller_name}/nav" if aside_nav? %>
      </aside>
      <main>
        <div id="clickable"></div>
        <%= yield %>
      </main>
    </section>
  </body>
</html>
