<!DOCTYPE html>
<html>
  <head>
    <title>Dummy</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    <%# stylesheet_link_tag "preflight", "data-turbo-track": "reload" %>

    <%= combobox_style_tag %>
    <%= javascript_importmap_tags %>

    <style>
      @import url('https://fonts.googleapis.com/css2?family=Inter:wght@400;700&display=swap');

      body { font-family: 'Inter', sans-serif; }

      .container {
        display: flex;
        align-items: flex-start;
      }
      .container aside {
        <%= "display: none;" unless controller_name == 'comboboxes' %>
        background-color: #efefef;
        margin-right: 2rem;
      }
    </style>
  </head>

  <body>
    <section class="container">
      <aside>
        <%= render 'comboboxes/nav' if controller_name == 'comboboxes' %>
      </aside>
      <main>
        <%= yield %>
      </main>
    </section>
  </body>
</html>
